/* Write your code here. */
.main-container {
  background-color: #ffffff;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 40px;
}
.box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}
.box-head{
  font-family: "Bree Serif";
}
.box1 {
  background-color: #fbbf24;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  margin: 30px;
}
.box2 {
  background-color: #38bdf8;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  margin: 30px;
}
.box3 {
  background-color: #ec4899;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  margin: 30px;
}
